.navbar-bg {
    background-color: #B01117;
}

input[type="search"]::placeholder {
    font-size: 16px;
    font-style: italic;
}

html, body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
}

body {
    background-color: #000000;
}

.main-content {
    min-height: calc(72vh - 80px);
}

.footer {
    background-color: black; 
    padding: 20px 0;
    position: relative;
    width: 100%;
    text-align: center;
    color: white;
    bottom: 0;
    left: 0;
}

.footer-text {
    font-size: 24px;
    font-family: 'Georgia', serif;
    font-style: italic;
    color: white;
    margin: 0;
}


.red-text-color {
    color: #B01117
}

.red-line {
    width: 200px;
    background-color: #B01117;
    color: #B01117;
}

.link {
    text-decoration: none;
}

.georgia {
    font-style: italic;
    font-family: 'Georgia', serif ;
}

.dish-name {
    font-size: 18px;
    margin-bottom: 0px;
}

.dish-photo {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.dish-description {
    font-size: 20px;
    font-family: 'Georgia', serif ;
}

.red-button {
    background-color: #B01117;
    color: white
}

.person-name {
    color: #B01117;
    text-decoration: underline;
}

.dinner-underline {
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 100px;
    color: white;
}

.dish-scale {
    transition: transform 0.3s ease;
}

.dish-scale:hover {
    transform: scale(1.1);
}

.basket-badge {
    background-color: white;
    color: black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 0;
}

.btn-search {
    border: none;
}

.btn-search:active,
.btn-search:hover,
.btn-search:focus {
    outline: none;
    box-shadow: none !important;
    border: none;
}

.quantity-control {
    display: flex;
    align-items: center;
    background-color: #cccccc; 
    border-radius: 25px;
    padding: 5px;
    position: relative;
    /* width: 120px; */
    width: 90px;
    height: 30px;
    justify-content: space-between;
}

.dish-count {
    font-size: 18px;
    color: black;
    margin-left: 10px;
    z-index: 1;
}

.red-controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #B01117; 
    border-radius: 25px;
    height: 100%;
    width: 90px;
    position: absolute;
    right: 0;
    z-index: 0;
}

.control-btn {
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 0 10px;
    font-size: 20px;
}

.divider {
    height: 25px;
    width: 1px;
    background-color: white;
}

.card {
    background-color: #000000;
}

.qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-conteiner {
    cursor: default;
    --color-primary: #B01117;
    --color-headline: #3f4656;
    --color-text: #99a3ba;
    background-color: #000000 !important;
  }
  
  .card-content {
    width: 100%;
    max-width: 312px;
    padding: 36px 0px;
    background: black;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(18, 22, 33, .12);
  }
  
  .card-content .card-title {
    font-family: 'Georgia', serif;
    font-style: italic;
    font-size: 24px;

    margin: 0 0 10px 0;
    color: var(--color-headline);
  }
  
  .card-content .card-title span {
    font-weight: 500;
  }
  
  .card-content .values div, .card-content .current-range div {
    display: inline-block;
    vertical-align: top;
  }
  
  .card-content .values {
    margin: 0;
    font-weight: 500;
    color: var(--color-primary);
  }
  
  .card-content .values > div:first-child {
    margin-right: 2px;
  }
  
  .card-content .values > div:last-child {
    margin-left: 2px;
  }
  
  .card-content .current-range {
    display: block;
    color: var(--color-text);
    margin-top: 8px;
    font-size: 14px;
  }
  
  .card-content .slider {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: .6em;
    color: var(--color-text);
  }
  
  /* Range Slider */

  .slider-len{
    width: 250px;
  }
  
  .input-ranges[type='range'] {
    width: 250px;
    height: 30px;
    overflow: hidden;
    outline: none;
  }
  
  .input-ranges[type='range'],
  .input-ranges[type='range']::-webkit-slider-runnable-track,
  .input-ranges[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
  }
  
  .input-ranges[type='range']::-webkit-slider-runnable-track {
    width: 200px;
    height: 1px;
    background: var(--color-headline);
  }
  
  .input-ranges[type='range']:nth-child(2)::-webkit-slider-runnable-track {
    background: none;
  }
  
  .input-ranges[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -7px;
    background: #fff;
    border: 1px solid var(--color-headline);
    border-radius: 25px;
    cursor: pointer;
    z-index: 1;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
  }
  
  .input-ranges[type='range']::-webkit-slider-thumb:hover {
    background: #eaefff;
    border: 1px solid var(--color-primary);
    outline: .5px solid var(--color-primary);
  }
  
  .input-ranges[type='range']::-webkit-slider-thumb:active {
    cursor: grabbing;
  }
  
  .input-ranges[type='range']:nth-child(1)::-webkit-slider-thumb {
    z-index: 2;
  }
  
  .rangeslider {
    font-family: sans-serif;
    font-size: 14px;
    position: relative;
    height: 20px;
    width: 210px;
    display: inline-block;
    margin-top: -5px;
  }
  
  .rangeslider input {
    position: absolute;
  }
  
  .rangeslider span {
    position: absolute;
    margin-top: 20px;
    left: 0;
  }
  
  .rangeslider .right {
    position: relative;
    float: right;
    margin-right: -5px;
  }

  /* Стили для карточек блюд */
.dish-card {
  height: 300px; /* Фиксированная высота карточки */
  border: 2px solid #B01117; /* Граница карточки */
  border-radius: 10px; /* Закругленные углы */
  background-color: #1a1a1a; /* Темный фон для карточки */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Элементы распределяются по вертикали */
  margin-bottom: 20px;
}

.dish-card img {
  max-height: 120px; /* Максимальная высота изображения */
  object-fit: cover; /* Обрезка изображения по размеру */
  border-bottom: 1px solid #B01117; /* Граница под изображением */
}

.dish-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 0px;
}

.dish-card .card-title {
  font-size: 20px;
  color: white;
  margin: 10px 0;
}

.dish-card .bottom-row {
  margin-left: 0px !important;
  display: flex;
  justify-content: space-between; /* Цена слева, кнопки справа */
  align-items: flex-end; /* Выравнивание по низу */
}

.dish-card .dish-price {
  font-size: 24px;
  color: white;
}

.dish-card .quantity-control {
  margin-right: 10px;
}

.dish-card .person-name {
  font-size: 20px;
  color: #B01117;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%); /* Расположение имени по середине высоты */
  font-family: 'Georgia', serif;
}

.person-name {
  color: #B01117;
  text-decoration: underline;
  font-size: 20px;
  text-align: center;
}

a.disabled {
  pointer-events: none;
}

.input-div{
  display: flex;
  align-items: center;
}

.input-guest{
  max-width: 150px;
  font-size: 20px;
  font-family: 'Georgia', serif;
  font-style: italic;
  border-radius: 10px;
  padding-left: 20px;
}

.input-guest:disabled{
  color: #fff;
}

