{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

{% if dishes|length == 0 %}

<div class="row mt-5 mb-3">
    <div class="col-3"></div>
    <div class="col-6">
        <h2 class="red-text-color georgia">По запросу "{{ query }}" ничего найти не удалось<h2>
    </div>
    <div class="col-3"></div>
</div>

{% else %}

<div class="row mt-5 mb-3">
    <div class="col-3"></div>
    <div class="col-6">
        <h2 class="red-text-color georgia">Вот что удалось найти по запросу "{{ query }}"<h2>
    </div>
    <div class="col-3"></div>
</div>

{% for dish in dishes %}
    <div class="row">
        <div class="col-2"></div>
        {% include "layouts/gorizontal_card.html" with food=dish %}
        <div class="col-2"></div>
    </div>
{% endfor %}

{% endif %}

{% endblock %}