{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

<div id="{{ food.id }}" class="row" style="margin-top: 100px;">
    <div class="col-2"></div>

    <div class="col-4">
        <img class="dish-photo" src="{{ food.photo }}" height="400px">
    </div>

    <div class="col-4 grid row-gap-3">
        <h2 class="text-center text-light pt-2 pb-2 georgia">{{ food.name }}</h2>
        <h3 class="text-center red-text-color mb-5">{{ food.price }}р./{{ food.weight }}г.</h3>
        <div class="text-light ps-5 pe-5 mb-5" style="text-align: justify">
            <p class="dish-description">{{ food.description }}</p>
        </div>
    </div>

    <div class="col-2"></div>
</div>

{% endblock %}