{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

{% if dishes|length == 0 %}

    <div class="row mt-5 mb-3">
        <div class="col-3"></div>
        <div class="col-6">
            <h2 class="red-text-color text-center georgia">Поиск не дал результатов<h2>
        </div>
        <div class="col-3"></div>
    </div>

{% else %}

    <div class="container-fluid mb-3">
        <div class="row mt-5">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="text-center red-text-color georgia">
                    <h2>Меню ресторана Meat'n'Fish</h2>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>

{% endif %}

<div class="row">
    <div class="col-9">
    {% for dish in dishes %}
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
                {% include "layouts/card.html" with food=dish %}
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="col-3 ps-4">
        <div>
            <div class="row">
                <h3 class="text-light georgia col-7">Ваша корзина</h3>
                {% if order %}
                    <div class="position-relative col-5">
                        <a href="{% url 'order' order.id %}">
                            <img src="{% static "img/basket.png" %}" width="40px">
                        </a>
                        <span class="badge basket-badge position-absolute top-0 start-40 translate-middle">
                            {{ order.count }}
                        </span>
                    </div>
                {% else %}
                    <div class="position-relative col-5">
                        <a class="disabled" href="#">
                            <img src="{% static "img/basket.png" %}" width="40px">
                        </a>
                        <span class="badge basket-badge position-absolute top-0 start-40 translate-middle">
                            0
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
        
        <div class="card-conteiner mt-0">
            <div class="card-content">
                <div class="text-light card-title mb-0">Поиск по цене</div>
                <div class="values">
                    <div><span id="first">{{ min_value|default:'1' }}</span>р.</div> -
                    <div><span id="second">{{ max_value|default:'5000' }}</span>р.</div>
                </div>
                <div data-range="#third" data-value-1="#second" data-value-0="#first" class="slider-len slider">
                    <label class="label-min-value">1</label>
                    <label class="label-max-value" style="margin-left: -15px;">5 000</label>
                </div>
                
                <form class="row" method="GET" action="{% url 'index' %}">
                    <div class="col-11 rangeslider">
                        <input class="min input-ranges" name="min_value" type="range" min="1" max="5000" value="{{ min_value|default:'1' }}" style="width: 250px;">
                        <input class="max input-ranges" name="max_value" type="range" min="1" max="5000" value="{{ max_value|default:'5000' }}" style="width: 250px;">
                    </div>
        
                    <div class="col d-flex" style="margin-top: -12px">
                        <button type="submit" class="btn btn-search" style="height: 30px; margin-left: auto;">
                            <img src="{% static 'img/svg/search.svg' %}" width="30px">
                        </button>
                    </div>
                </form>
            </div>
        </div>   
                  
    </div>
</div>
    


{% endblock %}